# Environments
assistance_agent/
venv/
env/
.venv/

# Secrets
.env

# Python artifacts
__pycache__/
*.py[cod]
__pycache__/
.venv/
*.pyc
share/
Include/
Lib/
Scripts/

# Jupyter
.ipynb_checkpoints/

data/
etc/
pyvenv.cfg